div.cadre{
border: 1px dotted gray;
border-radius:10px;
margin: 10px;
padding: 10px;
}
.tabStyle1 th{
border: 1px dotted gray;
padding: 5px;
 background:#FFFFCC;
}
.tabStyle1 td a:hover{
border: 1px dotted gray;
background: white;
padding: 5px;
  background-color: yellow;
}

a:hover { 
   background-color: #FFFFCC;
}
input[type="submit"]:hover{
    border: 1px solid #999;
     background-color:#FF66FF;
}
.errors{
	  color: red;
}
.table1{
	 background-color:#FFFFCC;
}
h2{
	color:#000099;
}